@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}


:root{
    --primary-color: #f2f1f0;
    --secondary-color: #2c2828;
    --tertiary-color: #d23636;
    --another: black;
}

.dark-theme{
    --primary-color: #2c2828;
    --secondary-color: #f2f1f0;
    --tertiary-color: #d23636;
    --another: white;
}

body{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all 1s ease 0s;
}

.moon{
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    right: 450px;
    top: 50px;
    cursor: pointer;
    transition: transform 1s;
}

.rotate{
    transition: transform 1s;
    transform: rotate(360deg);
}

h3{
    font-family: "Lato", sans-serif;
    color: var(--secondary-color);
}

.main-body{
    border: 1px solid var(--another);
    border-radius: 10px;
    background-color: var(--primary-color);
    width: 500px;
    height: 600px;
    transition: all 0.5s ease 0s;
}

.content{
    border: none;
    padding: 4em;
    justify-content: center ;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content h3{
    text-align: center;
    font-size: 2em;
}

.content h3 span{
    color: var(--tertiary-color);
}

.content .content-login{
    margin: 2em 2em;
}

label{
    display: block;
    width: 100%;
    color: var(--secondary-color);
}

input{
    width: 100%;
    margin: 0.5em 0;
    background-color: var(--primary-color);
    border: none;
    border-bottom: 1px solid white;
    height: 2em;
    transition: all 0.5s ease 0s;
}

.content .content-login .forgot{
    text-align: right;
    margin: 0.5em 0;
}

.content .content-login .forgot a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 0.75em;
}

.content .content-login .forgot a:hover{
    color: var(--tertiary-color);
}

.submit{
    display: flex;
    justify-content: center;
    transition: all 0.5s ease 0s;
}

#next{
    padding: 0.5em 2em;
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    width: 100%;
    margin: 0;
    border-radius: 5px;
}

hr{
    margin: 1em 0;
}

.content .content-login .tof{
    text-align: center;
    font-size: 0.85em;
    font-family: "lato", sans-serif;
    color: var(--secondary-color);
}

.content .content-login .tof .priv{
    text-decoration: underline;
    cursor: pointer;
}

.content .content-login .other{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0.75em 2em;
}

#icon{
    width: 1.3em;
    height: 1.3em;
}

.content .content-login .other a{
    text-decoration: none;
    color: var(--secondary-color);
}

.content .content-login .other .other-login{
    border: 1px solid var(--secondary-color);
    padding: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.content .content-login .dont-have{
    text-align: center;
    font-size: 0.75em;
}

.content .content-login .dont-have a{
    text-decoration: none;
    color: var(--secondary-color);
}

.content .content-login .dont-have a:hover{
    color: var(--tertiary-color);
}